.chat-thread {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* default alignment for the AI's messages */
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    padding: 1em;
    box-sizing: border-box;
    margin-bottom: 1em;
    background-color: rgb(52, 53, 64);
}

.chat-thread>.message {
    max-width: 80%;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 10px;
    font-size: 1.1em;
    white-space: pre-line;
}

.chat-thread>.message.user-message {
    align-self: flex-end;
    /* alignment for the user's messages */
    background-color: #61dafb;
}

.chat-thread>.message.ai-message {
    background-color: #ccc;
}

