.debate-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #282c34;
    color: white;
    font-family: 'Arial', sans-serif;
    margin-bottom: 100px;
    /* height of the input bar */
}

.debate-page .app-header {
    padding: 1em;
    margin: 0;
    /* Center the header text */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.app-header h1 {
    font-size: 1.5em;
    margin: 0;
    display: inline;
}

.debate-page .app-header .header-topic {
    color: #61dafb;
}

.chat-main {
    overflow-y: hidden;
}
