.debate-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #282c34;
    color: white;
    font-family: 'Arial', sans-serif;
    margin-bottom: 100px;
    /* height of the input bar */
}

.debate-page .app-header {
    margin: 1em;
    /* Center the header text */
    display: flex;
    justify-content: center;

}

.debate-page .app-header .header-topic {
    color: #61dafb;
    margin-left: 8px;
}

.chat-main {
    overflow-y: hidden;
}
