.message-input-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #282c34;
    padding: 0.5em;
    box-sizing: border-box;
}

.message-input {
    /* min-width: 200px; */
    max-width: 600px;
    width: 100%;
    padding: 0.5em;
    font-size: 1em;
    border: none;
    border-radius: 4px;
    margin: 0.2em;
    /* textarea */
    /* resize: none;
    font-family: 'Arial', sans-serif; */

}

.message-button {
    margin: 0.2em;
    font-size: 1em;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    /* padding: 0.5em; */
    height: 2em;
    /* center icon */
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-button:disabled {
    cursor: default;
}

.message-button-submit {
    background-color: #61dafb;
}

.message-button-auto {
    /* In red instead of blue */
    background-color: #617dfb;
}